%div.content.content--light-grey
  %div.row
    %div.small-12.medium-3.columns
      %div.users__profile__info__wrapper
        = render 'shared/user_profile_info'
      - if @viewing_own_profile
        %div.users__profile__edit
          %div.row
            %div.small-6.small-centered.columns.text-center
              = link_to 'Edit Profile', 'javascript:;', {class: 'btn btn--dark_red btn-rounded trigger-modal-bg', id: 'edit-user-profile'}
      %div.block#pop-niche-opts
        %div.block__header
          %div.block__header__tabs.tabs
            %ul.split
              %li.active{'data-content'=> 'popular-albums', 'data-async-load' => 'true', 'data-dom' => 'pop-niche-content'}
                %h3
                  Popular
                  %sup *
              %li{'data-content'=> 'niche-albums', 'data-async-load' => 'true', 'data-dom' => 'pop-niche-content'}
                %h3
                  Niche
                  %sup *
        %div.block__content#pop-niche-content
          = render 'shared/popular_albums'

    %div.small-12.medium-6.columns
      %div.block
        %div.block__header.block__header--none
          %div.compose
            %div.row.collapse
              %div.small-12.medium-1.columns
                = image_tag 'sample_artist_img_sm.jpg'
              %div.small-12.medium-11.columns
                %div.apply-padding-left
                  %form
                    %input{ type: :text, placeholder: 'Compose Review'}
      %div.albums__feed.albums__feed--light-bg
        - @album_feeds.each do |feed|
          = render 'shared/album_feed_item', feed: feed
    %div.small-12.medium-3.columns
      %div.block
        %div.block__header.block__header--dark-border
          %h2
            Featured Tags
        %div.block__content
          %div.tags
            %ul
              - @tags.each do |tag|
                %li
                  = link_to '#' do
                    = tag
      %div.block
        %div.block__header.block__header--dark-border
          %h2
            Recommended Writers
        %div.block__content
          %div.users
            - @top_writers.each do |top_writer|
            - temp_rand = Faker::Number.number(6)
              = render 'shared/user_list_item', locals:{user: top_writer, temp_rand: temp_rand}

        = render 'layouts/footer'