%div.content.content--light-grey
  %div.row
    %div.small-12.medium-8.columns.end.medium-centered
      %div.row
        %div.small-12.medium-4.columns
          %div.block
            %div.block__header.block__header--dark-border
              %h2
                Featured Tags
            = render 'shared/tags/wrapper'

          = render 'layouts/footer'
        %div.small-12.medium-8.columns
          %div.block
            %div.block__header.block__header--dark-border
              %h2
                Search results for
                %span.bold
                  = "\"#{params[:name]}\""
          - if @albums
            %div.block__content
              - @albums.each do |album|
                %div.search__results__item
                  %div.row
                    %div.small-12.medium-2.columns
                      = image_tag album[:images][0][:url]
                    %div.small-12.medium-7.columns
                      %h3
                        = link_to album[:name], album_path(artist_name: album[:artist][:name], album_name: album[:name], id: album[:id])
                      %h4
                        = album[:artist][:name]
                      %div.search__results__item__meta
                        = album[:release_date]
                        %span.dotter
                        - if album[:tracks].count > 1
                          = "#{album[:tracks].count} songs"
                        - else
                          = "#{album[:tracks].count} song"
                        %span.dotter
                        = "#{album[:duration]} min"
                    %div.small-12.medium-3.columns.text-right
                      = link_to 'Review', 'javascript:;', class: 'btn btn--rounded btn__outline btn__outline--grey review-album', 'data-reveal-id'=> "compose_modal-#{album[:id]}"
                  = render 'shared/modals/reviews/album', locals: {album_id: album[:id], album_name: album[:name] }
