- if @writers
  %div.block
    %div.block__header.block__header--dark-border
      %h2
        Writers
    %div.block__content
      - @writers.each do |writer|
        %div.search__results__item
          %div.row
            %div.small-12.medium-2.columns
              = image_tag 'http://lorempixel.com/people/90/90'
            %div.small-12.medium-7.columns
              %h3
                = link_to writer[:name], user_profile_path(profile_id: writer[:name])
              %div.search__results__item__title
                = writer[:title]
              %div.search__results__item__meta
                = writer[:handler]
                %span.dotter
                = writer[:location]
            %div.small-12.medium-3.columns.text-right
              = link_to 'follow', 'javascript:;', class: 'btn btn--rounded btn__outline btn__outline--grey'
- if @artists
  %div.block
    %div.block__header.block__header--dark-border
      %h2
        Artists
    %div.block__content
      - @artists.each do |artist|
        %div.search__results__item
          %div.row
            %div.small-12.medium-2.columns
              = image_tag artist[:images][0][:url]
            %div.small-12.medium-7.columns
              %h3
                = link_to artist[:name], artist_path(artist_name: artist[:name], spotify_id: artist[:id])
            %div.small-12.medium-3.columns.text-right
              = link_to 'follow', 'javascript:;', class: 'btn btn--rounded btn__outline btn__outline--grey'

- if @albums
  %div.block
    %div.block__header.block__header--dark-border
      %h2
        Albums
    %div.block__content
      - @albums.each do |album|
        %div.search__results__item
          %div.row
            %div.small-12.medium-2.columns
              = image_tag album[:images][0][:url]
            %div.small-12.medium-7.columns
              %h3
                = link_to album[:name], album_path(artist_name: album[:artist][:name], album_name: album[:name], spotify_id: album[:id])
              %h4
                = album[:artist][:name]
              %div.search__results__item__meta
                = album[:release_date]
                %span.dotter
                = "#{album[:tracks].count} songs"
                %span.dotter
                = "#{album[:duration]} min"
            %div.small-12.medium-3.columns.text-right
              = link_to 'Listen', 'javascript:;', class: 'btn btn--rounded btn__outline btn__outline--grey'
