%header.header{class: !@invert_header ? 'header--inverted': '' }
  %div.row
    %div.small-12.medium-4.columns
      %div.logo
        = link_to root_path do
          = image_tag 'gm_logo.png'
    %div.small-12.medium-4.columns.text-center
      %div.search.search--bordered
        %div.search__input_group
          %input{type: :text, name:'search', class: 'search__typeahead search__input_group--small typeahead', placeholder: 'SEARCH GREY MATTER'}
          %button.btn--neutral
            %i.icon.search
          %div.clearfix
        %div.search__typeahead__results#search__typeahead__results
          fd
    %div.small-12.medium-4.columns.text-right
      %div.header__menu
        - if @is_user_logged_in
          %ul.right
            %li
              = link_to 'Compose Review', '#'
            %li
              = link_to 'User name', '#'
            %li.has-notifications
              3
        - else
          = link_to 'Login / Register', 'javascript:;', {'data-reveal-id': 'login_register_modal'}

= render 'shared/modals/login_register'